---
import type { IconType } from "react-icons";
export interface Props {
  title: string;
  description: string;
  icon: IconType;
}

const { title, description, icon: Icon } = Astro.props;
---

<div
  class="card bg-linear-to-br from-slate-100 via-slate-400 to-slate-300 w-full shadow-2xl border-slate-100 border"
  data-aos="flip-up"
  data-aos-delay="150"
  data-aos-duration="1000"
>
  <figure class="px-10 pt-10">
    <Icon className="text-6xl text-slate-800" />
  </figure>

  <div class="card-body items-center text-center">
    <h2 class="card-title text-gray-900 text-lg md:text-2xl font-semibold">
      {title}
    </h2>
    <p class="text-gray-800 font-light text-sm leading-relaxed">
      {description}
    </p>
  </div>
</div>
