---
import heroImg from "@/img/heroImg.jpg";
import { Image } from "astro:assets";
import { IoIosContact, IoMdHome } from "react-icons/io";
---

<section
  class="hero seccion bg-linear-to-br from-slate-100 to-slate-300 min-h-dvh"
>
  <div
    class="hero-content flex-col lg:flex-row-reverse container mx-auto max-w-sm md:max-w-md lg:max-w-5xl gap-6"
  >
    <Image
      width={600}
      height={600}
      src={heroImg}
      class="lg:max-w-md rounded-lg shadow shadow-3xl mask mask-hexagon-2"
      alt="Imagen Hero"
      loading={"eager"}
      data-aos="fade-left"
      data-aos-delay="50"
      data-aos-duration="1000"
    />
    <div class="text-center" data-aos="fade-right">
      <h1 class="text-xl md:text-3xl lg:text-5xl font-bold">
        Encuentra el lugar donde tu historia comienza.
      </h1>
      <p class="py-6 text-base text-gray-500">
        Te acompañamos en el proceso de comprar o rentar tu propiedad ideal con
        asesoría personalizada y transparencia total
      </p>

      <div class="flex flex-col lg:flex-row gap-4 lg:gap-6 justify-around">
        <a
          href="#propiedades"
          class="bg-blue-800 text-white w-full lg:w-[40%] px-1 py-3 cursor-pointer uppercase font-semibold rounded-md hover:bg-blue-900 transition-all duration-300 ease-in-out flex items-center justify-center gap-2"
          ><IoMdHome className="text-2xl md:text-4xl" /> Ver Propiedades
        </a>

        <a
          href="#contacto"
          class="bg-amber-200 text-white w-full lg:w-[40%] px-1 py-3 cursor-pointer uppercase font-semibold rounded-md hover:bg-white hover:shadow-lg transition-all duration-300 hover:text-amber-300 ease-in-out flex items-center justify-center gap-2"
          ><IoIosContact className="text-2xl md:text-4xl" /> Contáctanos
        </a>
      </div>
    </div>
  </div>
</section>
